
    <div class="col-md-3">
        <p class="lead">Select a Category</p>
        <div class="list-group">
            <% @categories.each do |category| %>
            <div class="list-group-item"><%= category.name %></div>
            <% end %>
        </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="thumbnail pull-left">
            <%= image_tag(@product.image) %>
            <div class="caption-full">
                <h4>$24.99</h4>
                <h4>
                    <%= link_to(@product.name , product_path(@product)) %>
                </h4>
            </div>
        </div>
         <div class="pull-right">
                <p> <%= @product.description %> </p>
            <%= image_tag @product.image.url(:vsmall),:style => "border-image: url(/assets/border-artnshop.png) 27 27 36 21 fill repeat;border-style: solid;border-width: 10px 10px 17px 10px;" %>
            <%= image_tag @product.image.url(:thumb),:style => "border-image: url(/assets/border-artnshop.png) 27 27 36 21 fill repeat;border-style: solid;border-width: 10px 10px 17px 10px;" %>
            <%= image_tag @product.image.url(:thumb),:style => "border:5px solid black;" %></br>
                <a href="#" class="btn btn-primary pull-right">Buy Now!</a>

         </div>
        </div>

            <div class="ratings">
                <p class="pull-right">3 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    4.0 stars
                </p>
            </div>

        <div class="well">

            <div class="text-right">
                <a class="btn btn-success" id="button">Leave a Review</a>
            </div>

           <% @comments.each do |comment| %>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <%= comment.user.username %>
                    <span class="pull-right">10 days ago</span>
                    </br ><%= comment.content %>
                </div>
            </div>
            <hr>
            <% end %>



        </div>

         <div id="dialog" title="Comment here">
        <%= form_tag product_comments_path(@product) do %>
        Title</br>
        <%= text_field_tag(:title) %></br>
        Message</br>
        <%= text_area_tag(:ad, :text, size: '50x10') %></br>
        <%= submit_tag("Post") %>
        <% end %>
</div>

</div>
