<!DOCTYPE html>
<html lang="en">
<style>

#button {
border:1px solid #0c799e;
width:250px;
padding:10px;
font-size:16px;
font-weight:700;
color:#fff;
border-radius:3px;
background:linear-gradient(to bottom,#59d0f8 5%,#49c0e8 100%);
cursor:pointer
}
#button:hover {
background:linear-gradient(to bottom,#49c0e8 5%,#59d0f8 100%)
}
input[type=text] {
margin-top:5px;
margin-bottom:20px;
width:96%;
border-radius:5px;
border:0;
padding:5px 0
}

input[type=submit] {
width:30%;
border:1px solid #59b4d4;
background:#0078a3;
color:#eee;
padding:3px 0;
border-radius:5px;
margin-left:33%;
cursor:pointer
}
input[type=submit]:hover {
border:1px solid #666;
background:#555;
color:#fff
}
.ui-dialog .ui-dialog-content {
padding:2em;
}
</style>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Artnshop remake</title>
  <!-- Bootstrap Core CSS -->
  <link href="/assets/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/assets/heroic-features.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/assets/jquery-ui.css">
  <script src="/assets/jquery-1.10.2.js"></script>
  <script src="/assets/jquery-ui.js"></script>
</head>

<body>
<script>
$(function() {
 dialog = $( "#dialog-bite" ).dialog({
  autoOpen: false,
  height: 570,
  width: 570,
  modal: true,
  buttons: {

    Cancel: function() {
      dialog.dialog( "close" );
    }
  },
  close: function() {
    form[ 0 ].reset();
  }
});

 form = dialog.find( "bite" ).on( "submit", function( event ) {
 });

 $( "#create-product" ).button().on( "click", function() {
  dialog.dialog( "open" );
});
});
</script>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Remake</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to("Shop", products_path) %></li>
        <li><%= link_to("Artists", users_path) %></li>
        <li><%= link_to("Information", new_user_registration_path) %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li> <button id="create-product" style="margin-top:5px;">Create a Product</button></li>
        <li> <%= link_to("Logout", destroy_user_session_path, method: :delete) %></li>
        <% else %>
        <li><%= link_to("SignIn", new_user_session_path) %></li>
        <li><%= link_to("SignUp", new_user_registration_path) %></li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>
</head>
<body>
  <!-- Page Content -->
  <div class="container">
   <%= yield %>
   <!-- Footer -->
   <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Remake</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->

<% if current_user %>
<div id="dialog-bite" title="New Product">
  <p class="validateTips">All form fields are required.</p>
  <%= form_tag "#" do %>
  Title</br>
  <%= text_field_tag(:name) %></br>
  Message</br>
  <%= text_area_tag(:description, :text, size: '50x10') %></br>
  <%= submit_tag("Post") %>
  <% end %>
</div>
<% end %>
</body>

</html>